<div class="container mt-4">
  <h2 class="text-center mb-4">バナー<ruby>広告<rt>こうこく</rt></ruby> <ruby>掲載<rt>けいさい</rt></ruby><ruby>例<rt>れい</rt></ruby>
  </h2>
  <div class="row">
    <div class="col-md-4 col-sm-12 mb-3 text-center">
      <img src="\public\images\sample-01.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-md-4 col-sm-12 mb-3 text-center">
      <img src="\public\images\sample-02.jpg" class="img-fluid" alt="...">
    </div>
    <div class="col-md-4 col-sm-12 mb-3 text-center">
      <img src="\public\images\sample-03.jpg" class="img-fluid" alt="...">
    </div>
  </div>
</div>