<!-- パソコン用のタブ：mdサイズ以上のデバイスでのみ表示 -->
<footer class="container py-3 ps-5 mt-4 d-none d-md-block">
  <div class="row">
    <h2>ねりキッズ<ruby>探検団<rt>たんけんだん</rt></ruby></h2>
    <p>Powered by <ruby>放課後<rt>ほうかご</rt></ruby>キャンパスクラブ</p>
    <span class="text-center fw-light d-none d-md-block">Copyright (c) 2024 GIA After-School Campus Club All Rights Reserved.
    </span>
  </div>
</footer><!-- END -->

<!-- スマホ用のタブ：mdサイズ未満のデバイスでのみ表示 -->
<footer class="container py-3 ps-3 d-block d-md-none">
  <div class="row">
    <h2>ねりキッズ<ruby>探検団<rt>たんけんだん</rt></ruby></h2>
    <p>Powered by <ruby>放課後<rt>ほうかご</rt></ruby>キャンパスクラブ</p>
    <!-- スマホ用のタブ：mdサイズ未満のデバイスでのみ表示 -->
    <span class="text-center fw-light d-block d-md-none">
      Copyright (c) 2024<br>
      GIA After-School Campus Club All Rights Reserved.
    </span>
  </div>
</footer><!-- END -->