<footer class="container py-3 ps-5 mt-4">
  <div class="row">
    <h2>ねりキッズ<ruby>探検団<rt>たんけんだん</rt></ruby></h2>
    <p>Powered by <ruby>放課後<rt>ほうかご</rt></ruby>キャンパスクラブ</p>
    <span class="text-center">Copyright (c) 2023 <ruby>一般<rt>いっぱん</rt></ruby><ruby>社団法人<rt>しゃだんほうじん</rt></ruby> <ruby>放課後<rt>ほうかご</rt></ruby>キャンパスクラブ
      All Rights Reserved.</span>
  </div>
</footer>