<div class="container mt-5">
  <h2 class="text-center mb-4"><ruby>掲載<rt>けいさい</rt></ruby>をご<ruby>希望<rt>きぼう</rt></ruby>の<ruby>団体<rt>だんたい</rt></ruby></h2>
  <div class="row">
    <div class="col-md-6 col-sm-12 mb-2">
      <p>ねりキッズ<ruby>探検団<rt>たんけんだん</rt></ruby>の<ruby>活動<rt>かつどう</rt></ruby><ruby>団体<rt>だんたい</rt></ruby><ruby>紹介<rt>しょうかい</rt></ruby>ページでは、<ruby>掲載<rt>けいさい</rt></ruby><ruby>費用<rt>ひよう</rt></ruby>を<ruby>無料<rt>むりょう</rt></ruby>で<ruby>承<rt>うけたまわ</rt></ruby>っております。
      </p>
			<!-- パソコン用のタブ：mdサイズ以上のデバイスでのみ表示 -->
      <p class="d-none d-md-block"><ruby>掲載<rt>けいさい</rt></ruby>をご<ruby>希望<rt>きぼう</rt></ruby>の<ruby>団体<rt>だんたい</rt></ruby>は、<ruby>右<rt>みぎ</rt></ruby>のボタンをクリックして<ruby>表示<rt>ひょうじ</rt></ruby>されるフォームから<ruby>情報<rt>じょうほう</rt></ruby>をお<ruby>送<rt>おく</rt></ruby>りください。
      </p>
			<!-- スマホ用のタブ：mdサイズ未満のデバイスでのみ表示 -->
      <p class="d-block d-md-none"><ruby>掲載<rt>けいさい</rt></ruby>をご<ruby>希望<rt>きぼう</rt></ruby>の<ruby>団体<rt>だんたい</rt></ruby>は、<ruby>下記<rt>かき</rt></ruby>のボタンをクリックして<ruby>表示<rt>ひょうじ</rt></ruby>されるフォームから<ruby>情報<rt>じょうほう</rt></ruby>をお<ruby>送<rt>おく</rt></ruby>りください。
      </p>
    </div>
    <div class="col-md-6 col-sm-12">
      <!-- パソコン用のタブ：mdサイズ以上のデバイスでのみ表示 -->
      <div class="col-6 mx-auto my-4 d-none d-md-block">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSePvwyFkYx2tSRND5GcP0Mmu44ekkI2TWhovYcGnOW1IP7fjA/viewform?usp=sf_link" class="background_btn02" target="_blank" rel="noreferrer noopener">掲載をご希望の団体はこちら</a>
      </div><!-- END -->

      <!-- スマホ用のタブ：mdサイズ未満のデバイスでのみ表示 -->
      <div class="mx-auto mb-4 d-block d-md-none">
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSePvwyFkYx2tSRND5GcP0Mmu44ekkI2TWhovYcGnOW1IP7fjA/viewform?usp=sf_link" class="background_btn02" target="_blank" rel="noreferrer noopener">掲載をご希望の団体はこちら</a>
      </div><!-- END -->
    </div>
  </div>
</div>