#mapid { height: 400px; }

.frame-body {
  background-color: #D6D242;
  border-top-left-radius: 30px;
}

.frame-body-n {
  background-color: #D6D242;
}

.info-body {
  background-color: #F8F7EE;
  border-radius: 20px;
}

.background_btn02 {
  display: inline-block;
  width: 100%;
  max-width: 350px; /* ボタン幅 */
  position: relative;
  background: #d64251; /* 背景色 */
  border: 2px solid #d64251;
  padding: 1em 2em;
  font-weight: bold;
  color: #fff; /* 文字色 */
  text-decoration: none;
  text-align: center;
  transition-duration: 0.3s;
}

.background_btn02:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #fff; /* 矢印の色 */
  border-right: 2px solid #fff; /* 矢印の色 */
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 25px;
  margin-top: -6px;
}

/* マウスオーバーした際のデザイン */
.background_btn02:hover {
  background: #fff; /* 背景色 */
  color: #d64251; /* 文字色 */
}

.background_btn02:hover:before {
  border-top: 2px solid #d64251; /* 矢印の色 */
  border-right: 2px solid #d64251; /* 矢印の色 */
}

@media(min-width: 768px){
  a[href^="tel:"]{
    pointer-events: none;
    color: #D64251;
  }
}

.word-break {
  word-break: break-all;
}