.image-radius {
  border-bottom-left-radius: 30px; /* 丸みの大きさを調整するために、この数値を変更することができます */
}

.card {
  border: 0px !important;
}

.ml-custom {
  margin-left: 1rem !important;
}

.card-img, .card-img-top {
  border-top-left-radius: calc(.75rem - 1px) !important;
  border-top-right-radius: calc(.75rem - 1px) !important;
}

.card-body {
  background-color: #D6D242;
  border-bottom-left-radius: calc(.75rem - 1px);
  border-bottom-right-radius: calc(.75rem - 1px);
}

.btn-color {
  color: white;
  background-color: #d64251;
  border-color: #d64251;
}

.background_btn01 {
  display: inline-block;
  width: 100%;
  max-width: 350px; /* ボタン幅 */
  position: relative;
  background: #42A5D6; /* 背景色 */
  border: 2px solid #42A5D6;
  padding: 1em 2em;
  font-weight: bold;
  color: #fff; /* 文字色 */
  text-decoration: none;
  text-align: center;
  transition-duration: 0.3s;
}

.background_btn01:before {
  content: '';
  width: 8px;
  height: 8px;
  border: 0;
  border-top: 2px solid #fff; /* 矢印の色 */
  border-right: 2px solid #fff; /* 矢印の色 */
  transform: rotate(45deg);
  position: absolute;
  top: 50%;
  left: 25px;
  margin-top: -6px;
}

/* マウスオーバーした際のデザイン */
.background_btn01:hover {
  background: #fff; /* 背景色 */
  color: #42A5D6; /* 文字色 */
}

.background_btn01:hover:before {
  border-top: 2px solid #42A5D6; /* 矢印の色 */
  border-right: 2px solid #42A5D6; /* 矢印の色 */
}

@media screen and (min-width: 640px){
	/* PC時 */
	.br-pc {
	display:inline;
	}
	.br-sp {
		display:none;
	}
}

@media screen and (max-width: 640px){
	/* SP時 */
	.br-pc {
	display:none;
	}
	.br-sp {
		display:inline;
	}
}